body {
  background-image: url("Smite Project Site/Background/background_image.jpg");
  background-repeat: no-repeat;
  opacity: 0.5;
  color: black;
}

.textbox {
  background-color: rgb(255, 255, 255);
  margin: 25%;
  padding: 2%;
  width: auto;
  height: auto;
  border-color: yellow;
  border-style: solid;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: black;
  
}
.clearfix {
  overflow: auto;
}