body {
  background-image: url("Smite Project Site/Background/background_image.jpg");
  background-repeat: no-repeat;
  background-color: black;
}
.textbox {
  background-color: rgb(255, 255, 255, 0.85);
  margin: 25%;
  padding: 2%;
  width: auto;
  height: auto;
  border-color: yellow;
  border-style: solid;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: black;
}
.clearfix {
  overflow: auto;
}
#displaybox {
  padding: 2%;
  width: 300px;
  height: 500px;
  border-style: solid;
  border-width: 10px;
  border-color: yellow;
  background-color: black;
  float: left;
  position: relative;
  left: 100px;
  bottom: 200px;
}